.footer {
    position: static;
    padding: 15px;
    bottom: 0;
    border: 1px dashed black;
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff, #bdeaee);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}

h2 {
    font-family: 'Goudy Old Style';
    font-weight: 700;
}

img {
    border-radius: 75px;
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.content {
    display: flex;
    justify-content: space-around;
}

a {
    line-height: 1.5;
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px 5px 100px;
    font-weight: 700;

}

span {
    font-weight: 700;
}